/* Your Code Goes Here */
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 1.6 rem;
  line-height: 1.5;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #9BA6AF;
  font-weight: bold;
  height: 50px;
  padding: 0 84px;
  border: 1px solid #979797;
  position: fixed;
  width: 1024px;
}
nav #logo {
  font-size: 2.4rem;
}
nav #toggle:hover {
  cursor: pointer;
}
nav.dropdown #menu {
  display: none;
}
nav.dropdown #toggle {
  background: url('../img/nav-hamburger.png') no-repeat;
  width: 32px;
  height: 21px;
}
