
//Jumbotron class
.Jumbotron {
    height: 599px;
    img {
        z-index: 1;
    }
    h2 {
        font-size: 6.4rem;
        color: @header-color;
        font-weight: bold;
        line-height: 76/64;
        position: relative;
        top: -280px;
        left: 82px;
        z-index: 0;
    }
}// end

.main-content {
    padding: 51px 86px;
    padding-bottom: 0;
    h2 {
        color: @dark-charcoal;
        font-weight: bold;
        font-size: 2.4rem;
    }
    button {
        .button(136px, 47px);
    }
    .top-item {
        .flex;
        padding-bottom: 98px;
        flex-direction: row;

        &.S-J {
            button {
                padding-left:1px;
            }
        }
        .content {
            .flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 5px;
            p {
                padding-top: 15px;
                padding-bottom: 25px;
                width: 407px;
            }
        } // end of top-content .content 
        &.flipped {
            padding-bottom: 92px;
            flex-direction: row-reverse;
            padding-right: 6px;
            .content {
                padding-top: 0;
                padding-bottom: 6px;
            p {
                padding-top: 15px;
                padding-bottom: 30px;
                }
            }
        }
    } // end of top-content 
  }// end of main-content// 
  .projects {
      h2 {
          padding-bottom: 40px;
      }
      .project {
          padding-bottom: 75px;
          text-align: center;
          .title { 
              position: relative;
              padding-bottom: 0;
              h3 {
                  letter-spacing: 8px;
                  font-size: 2.4rem;
                  .projectName(315px, 95px);
                  position: absolute;
                  bottom: -34px;
              }
          }
          p:first-of-type {
              padding-top: 84px;
          }
          p {
              display: inline-block;
              width: 444px;
              font-size: 1.8rem;
              text-align: left;
              padding-bottom: 24px;
              margin-right: 4px;
              line-height: 24px;
          }
          &.villas {
              h3 {
                  padding-bottom: 4px;
                  padding-left: 10px;
                  right: -1px;
              }
          }
          &.outskirts {
              h3 {
                  padding-bottom: 4px;
                  padding-right: 1px;
                  left: 0px;
              }
          }
          &.blocks {
              h3 {
                  padding-top: 2px;
                  right: -2px;
              } // closes the above h3 selector;
          } // end of &.blocks;
    } // end of .project;
} // end of .projects;